html {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin: -5px auto;
    padding: 160px 70px 30px 90px;
    background-color: #353a41;
    letter-spacing: 1px;
    line-height: 175%;
}

h1 {
    font-size: 17px;
    font-weight: 100;
}

#header {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    border-bottom: 2px solid #656e7c;
    background-image: linear-gradient(
        to bottom,
        #12151a,
        #353a41
    );
}

#titulo {
    display: inline-block;
    margin: 10px auto 10px 40px;
}

#nav-header {
    float: right;
    margin: 0 40px 0 0;
}

#nav-header ul li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0px;
    padding: 20px 15px 10px 15px;
    margin: -18px -4px 0px 0px;
}

.header-borda {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(
        to bottom,
        rgba(220,220,220,.6),
        rgba(220,220,220,0)
    )0 0 0 1;
}

#intro {
    display: block;
    width: 420px;
    font-size: 20px;
}

#passos1 {
    display: inline-block;
    font-size: 100px;
    font-weight: 600;
    color: #f15742;
    margin: 56px 0 0 40px;
    border-image: solid(
        rgba(220,220,220,.6),
        rgba(220,220,220,0)
    )0 0 0 1;
}

#passos2 {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    margin: 40px 0 0 8px;
    line-height: 110%;
}

.borda-canto {
    width: 115px; 
    height: 14px;
    position: absolute;
    display: inline-block;
    border-right: 1px solid #f15742;
    border-bottom: 1px solid #f15742;
    margin: 25px 0 0 -106px;
}

@media (max-width: 768px) {

}