body {
    font-family: 'Quicksand', sans-serif;
}

.header-borda {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
        to bottom,
        rgba(220,220,220,1),
        rgba(220,220,220,0)
    )1 100%;
}