body {
    font-family: 'Quicksand', sans-serif;
}

#header {
    background-image:
        rgba(70,70,70,0.8), 
}

.header-borda {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
        to bottom,
        rgb(220,220,220,1),
        rgba(220,220,220,0)
    )1 100%;
}